
@use './variables.scss' as variables;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-family-sans;
  color: variables.$text-color;
  background-color: variables.$background-color;
}
